<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-img class="appIcon" src="assets/icon/coronatracker_favicon.png" alt="WorldIcon"></ion-img>
        </ion-col>
        <ion-col class="appTitle">Corona Tracker</ion-col>
        <ion-col class="appDate">{{date}}</ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">WorldTab</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-row>
      <ion-col class="pageTitle">COVID-19 Dashboard</ion-col>
    </ion-row>


    <ion-row class="casesBox">
      <ion-col class="totalCases">Total
        {{worldDataService.addNumbers(confirmed,recovered,deaths) | number}}
      </ion-col>
      <ion-col class="confirmedBox">Confirmed {{confirmed | number}}</ion-col>
      <ion-col class="recoveredBox">Recovered {{recovered | number}}</ion-col>
      <ion-col class="deathsBox">Deaths {{deaths| number}}</ion-col>
    </ion-row>

    <ion-card class="pieCard">
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-slides class="tipsSlides" [options]=slideOpts>
      <ion-slide class="slide">
        Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing.
      </ion-slide>
      <ion-slide class="slide">
        Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.
      </ion-slide>
      <ion-slide class="slide">
        If you have fever, cough and difficulty breathing, seek medical care early.
      </ion-slide>
      <ion-slide class="slide">
        Avoid touching eyes, nose and mouth. #StayHomeStaySafe
      </ion-slide>
      <ion-slide class="slide">
        WHO Health Alert brings COVID-19 facts to billions via WhatsApp.
      </ion-slide>
    </ion-slides>

    <ion-card>
      <ion-grid>
        <ion-row class="tableTitle">
          <ion-col col-4 class="tableCountry">Country</ion-col>
          <ion-col class="tableCol">Total</ion-col>
          <ion-col class="tableCol">Active</ion-col>
          <ion-col class="tableCol">Recovered</ion-col>
          <ion-col class="tableCol">Deaths</ion-col>
        </ion-row>
        <ion-row class="tableZebraStrip" padding *ngFor="let item of countryWiseData">
          <ion-col col-4 class="tableCountry">
            {{worldDataService.getDataKey(item)}}
            <!-- {{getCountryNameFromCode(getDataKey(item))}} -->
          </ion-col>
          <ion-col class="tableCol"> 
           {{worldDataService.addNumbers(confirmed,recovered,deaths) | number}}
          </ion-col>
          <ion-col class="tableCol">{{item[worldDataService.getDataKey(item)].confirmed | number}}</ion-col>
          <ion-col class="tableCol">{{item[worldDataService.getDataKey(item)].recovered | number}}</ion-col>
          <ion-col class="tableCol">{{item[worldDataService.getDataKey(item)].deaths | number}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </ion-content>

  <ion-row class="tableFooter">
    <ion-col col-4 class="tableCountry">World</ion-col>
    <ion-col class="tableCol">
      {{worldDataService.addNumbers(confirmed,recovered,deaths) | number}}
    </ion-col>
    <ion-col class="tableCol">{{confirmed | number}}</ion-col>
    <ion-col class="tableCol">{{recovered | number}}</ion-col>
    <ion-col class="tableCol">{{deaths | number}}</ion-col>
  </ion-row>

</ion-app>
