<ion-app>

  <ion-tabs>
    <!-- <ion-router-outlet>
      <router-outlet path="/world" component={WorldTab} exact={true}></router-outlet>
      <router-outlet path="/country" component={CountryTab} exact={true}></router-outlet>
      <router-outlet path="/news" component={NewsTab} ></router-outlet>
      <router-outlet path="/guidelines" component={GuidelinesTab}></router-outlet>
      <router-outlet path="/help" component={HelpTab} ></router-outlet>
      <router-outlet path="/" component={HelpTab} ></router-outlet>
    </ion-router-outlet> -->

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="world">
        <ion-icon name="earth-outline"></ion-icon>
        <ion-label>World</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="country">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Country</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="news">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>News</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="guidelines">
        <ion-icon name="radio-outline"></ion-icon>
        <ion-label>Guidelines</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="help">
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label>Help</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>
