<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-content>
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="world">
        <ion-icon name="earth-outline"></ion-icon>
        <ion-label>World</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="country">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Country</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="news">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>News</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="guidelines">
        <ion-icon name="radio-outline"></ion-icon>
        <ion-label>Guidelines</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="help">
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label>Help</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>

</ion-app>
